// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');


/* css reset */
* {
  /* padding:0; */
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

// variables
$background-color: #1a1a1a;

@import "./navigation/nav";
@import "./sections/hero";

body {
  background-color: $background-color;
}